@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
    background-color: #18181b;
    color: #fff;
}

input {
    outline: none;
}

.text-field {
    @apply block text-black p-1 mb-4 w-full;
}